<div class="main">
  
  <div class="scene-fade-top" x-mojo-scroll-fade="top"></div>
  
  <div class="palm-page-header multi-line">
    <div class="palm-page-header-wrapper">
      <div class="icon"></div>
      <div class="title main">
	<span id="main-title">SuDoh</span>
	<span class="version" id="version">v0.0.0</span>
      </div>
      <div class="title sub" id="subTitle">Sudo make me a sandwich</div>
    </div>
  </div>
  
  <div id="htmlDiv">Waiting for HTML ...</div>

  <div id="csrvDiv">Waiting for C Service ...</div>

  <div class="scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>
  
</div>
